@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');

:root { /*para referenciar as cores utilizadas, facilita para todas as variáveis*/
    --charcoal: #2F3E46;
    /*para utilizar: var(--charcoal)*/
    --darkSlateGray: #354F52;
    --hookersGreen: #52796F;
    --darkSeaGreen: #84A98C;
    --ashGray: #CAD2C5;
}

* { /*padrão para o projeto inteiro*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Akshar', sans-serif;
}

nav {
    width: 60%;
    margin: .5rem;
}

/*nav ul { -- usaria caso tivesse lista (com palavras) dentro do nav)
    list-style: none;
    display: flex; /* dispõe um ao lado do outro*/
    /*justify-content: space-between; /* cria espaço igual entre os itens*/
    /*justify-content: baseline;
    /*não colocar largura em tamanhos fixos, a porcentagem sempre puxa os valores que estão acima (disponíveis), não da tela toda*/
    /*para larguras utilizar % ou vw, px é recomendado para itens com tamanho fixo*/
    /*width: 50vw;
}*/

/*nav ul li a {  -- usaria caso tivesse lista (com palavras) dentro do nav)
    font-size: 1rem;*/
    /*rem = o tamanho da letra M maiúscula do dispositivo visualizado, geralmente = 16px*/
    /*text-decoration: none;
    color: #ff6600;
    background-color: #151313;
    padding: 1rem; /*gera espaçamento da borda para dentro*/
    /*margin: 1rem; /*da borda para o lado de fora*/
    /*border: 3px solid white;
    
}*/

.icones {
    display: inline;
    height: 20px;
    width: 20px;
    margin-left: 2rem;
    margin: 1rem;
}

body {
    background-color: var(--ashGray);
}

h1 {
    margin: 10px;
    font-size: max(5vw, 3.5rem);
    font-family: 'Square Peg', cursive;
    text-align: center;   
    color: var(--charcoal); 
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.p-30 {
    padding: 30px;
}

.tm-social { 
    width: 80%;
    height: 80%;
    padding: 10px;
}

.camposForm {
    display: flex;
    flex-direction: column;
}

.containerAdress {
    display: flex;
    flex-direction: column;
}

label {
    color:var(--charcoal);
}

input, textarea {
    resize: none;
    border: 0;
    width: 80%;
    outline: 0; /*remove a borda preta ao redor da textarea*/
    color: var(--hookersGreen);
    background-color: var(--ashGray);
    border-bottom: 1.5px solid var(--charcoal);
}

button {
    margin-top: 20px;
}

p {
    margin: 10px 10px; /*valores no sentido horário*/
}

.imagem {
    border-radius: 50%; /*arredonda as bordas*/
    height: 145px;
    /*quando mexer na imagem, mexer apenas em 1 dos 2 eixos, pois irá ser proporcional*/
    width: 150px;  
    border: 2px solid var(--darkSlateGray);   
    padding: .25rem; 
}

h2 {
    /* font-size: max(5vw, 3.5rem); */
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: var(--darkSlateGray);
}

.subtitle {
    margin: 20px 10px;
}

.video {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center {
    text-align: center;
}

.mb-50 {
    margin-bottom: 50px;
}

.justify {
    text-align: justify;
}

